.dashboard {
  display: flex;
  width: 100vw; 
  height: 100vh; 
}

.tabs {
  display: flex;
  flex-direction: column;
  background-color: rgb(5, 12, 61);
  padding: 10px;
  width: 200px;
  height: 100%;
  flex: 0 0 auto;
  overflow-y: auto;
  color: white;
}

.tab {
  cursor: pointer;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.tab.active {
  background-color: rgb(128, 0, 2);
}

.content-container {
  position: relative;
  flex: 1;
  overflow-y: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.445);
}

.content-container::after {
  content: "";
  position: fixed; /* Change position to fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/loginbackground.jpg');
  background-size: cover;
  z-index: -1;
}

.paymentlogo{
  background-color: rgba(255, 255, 255, 0.61);
}
.comp-heading {
  font-size: 40px;
  margin-top: 20px;
  color: white; 
  text-align: center;
  padding: 10px 20px 10px 20px; 
  display: inline-block; 
  border-radius: 10px;
}


/* styles.css */

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content2 {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.199);
  border-radius: 15px; /* adjust the radius as needed */
  backdrop-filter: blur(10px) brightness(120%);
  padding: 15px; /* adjust the padding as needed */
}


.circular-progress {
  width: 200px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */
}

.circular-progress .MuiCircularProgress-root {
  color: #4caf50; /* Change color as needed */
  stroke: white; /* Add white stroke */
  stroke-width: 10; /* Adjust thickness as needed */
}

/* Change background color of reward points container */
.reward-container {
  background-color: #b400fc; /* or any color of your choice */
}


.sectionnew{
  background-color: rgba(255, 255, 255, 0.212);
}
