body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.login-container {
  background-image: url('./assets/loginbackground.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  
}

.table-container {
  max-width: 80%; /* Adjust as needed */
  margin: auto;
  overflow-x: auto;
}
